* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-green: #a9d18e;
    --dark-green: #313f2c;
    --dove: #2c9a43;
    --butterfly: #669f49;
    --shadow: #495f44;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "hd"
        "mn"
        "mn"
        "mn"
        "mn"
        "mn";
}

header {
    grid-area: hd;
    background: var(--light-green);
    padding: 10px;
}

nav {
    width: 100%;
    padding-block: 5px;
    display: flex;
    justify-content: space-evenly;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--butterfly);
    background: var(--dark-green)
}

main {
    grid-area: mn;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--dark-green);
    text-shadow: 3px 3px 3px var(--shadow);
}

/* main page */
.home-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". . im . . . . . . . . ."
        ". . im . . . . . . . . ."
        ". . im . ar ar ar ar ar ar ar ."
        ". . im . ar ar ar ar ar ar ar ."
        ". . im . ar ar ar ar ar ar ar ."
        ". . im . . . . . . . . ."
        ". . im . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
    ;
}

.name {
    color: var(--dove);
}

.intro {
    font-size: 30px;
    grid-area: ar;
    text-shadow: 3px 3px 3px var(--shadow);
}

.djeli-photo {
    border-radius: 75px;
    width: 400px;
    height: 400px;
}

.title {
    grid-area: im;
}

/* contact page */
.contact-main {
    text-shadow: 2px 2px 3px var(--shadow);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". . . . he he he he he . . ."
        ". . . . . . . . . . . ."
        ". . . . us us us . . . . ."
        ". . . . us us us . . . . ."
        ". . . . us us us . . . . ."
        ". . . . us us us . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
    ;
}

.contact-title {
    grid-area: he;
    font-size: 30px;
}

.user-names {
    grid-area: us;
    text-shadow: 3px 3px 3px var(--shadow);
}

.mondriaan-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.gmail-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.insta-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* projects */
.projects-main {
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . id . . . . . . ."
        ". . . . id hl hl . . . . ."
        ". . . . id . . . . . . ."
        ". . . . id . . . . . . ."
        ". . . . id     bkh bkh bkh . . . ."
        ". . . . id . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
    ;
}

.hoger-lager {
    grid-area: hl;
}

.bkh {
    grid-area: bkh;
}

.img-div {
    grid-area: id;
}

.tosti-photo {
    width: 150px;
    height: 150px;
}

.higher-lower-photo {
    width: 150px;
}

/* about me */
.about-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        ". . . ma . . mf . . ja . ."
        ". . . ma . . mf . . ja . ."
        ". . . ma . . mf . . ja . ."
        ". . . ma . . mf . . ja . ."
        ". . . ma . . mf . . ja . .";
}

.me-article {
    grid-area: ma;
}

.me-2 {
    grid-area: mf;
}

.jacky-article {
    grid-area: ja;
}