:root {
    --light-green: #a9d18e;
    --dark-green: #313f2c;
    --dove: #2c9a43;
    --butterfly: #669f49; 
    --shadow: #495f44;
}

header {
    text-align: center;
    background: var(--light-green);  
    padding: 10px;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--butterfly); 
    background: var(--dark-green)
}

.name {
    color: var(--dove);
}

.djeli-photo {
    width: 500px;
    position: absolute;
    margin-top: 55px;
    margin-left: 150px;
    border-radius: 75px;
}

.name {
    position: absolute;
    left: 725px;
    bottom: 375px;
}

.intro {
    position: absolute;
    left: 675px;
    bottom: 355px;
}

nav {
    margin: 10px;
}

a {
    padding: 100px;
    text-align: center;
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--dark-green);
    text-shadow: 3px 3px 3px var(--shadow);
}


.home-main {
    text-shadow: 3px 3px 3px var(--shadow);
}

.contact-main {
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 3px var(--shadow);
}

dt {
    margin: 15px;
    text-shadow: 3px 3px 3px var(--shadow);
}

.contact-title {
    margin-top: 150px;   
}

.mondriaan-logo {
    width: 50px;
    border-radius: 10px;
}

.gmail-logo {
    width: 50px;
    border-radius: 10px;
}

.insta-logo {
    width: 50px;
    border-radius: 10px;
}

.me-article {
    margin-top: 100px;
    margin-left: 500px;
    width: 200px;
    height: 50px;
}

.jacky-article {
    margin-top: -260px;
    margin-left: 1155px;
    width: 175px;
}

.me-2 {
    margin-left: 850px;
    width: 200px;
    height: 200px;
}